{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> List Ruangan Hotel </title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content  %}
    <h1 class="display-4">List Ruangan Hotel</h1>
    <hr class="my-4">
    {% if request.session.peran == "ADMIN_SISTEM" %}
        <a class="btn btn-primary" href="{% url 'create_reservasi_rs' %}" role="button">CREATE</a>
    {% endif %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Kode Hotel</th>
      <th scope="col">Kode Ruangan</th>
      <th scope="col">Jenis Bed</th>
      <th scope="col">Tipe</th>
      <th scope="col">Harga</th>
      {% if request.session.peran == "ADMIN_SISTEM" %}
        <th scope="col">Action</th>
        {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for i in data_ruangan_hotel %}
    <tr>
      <th scope="row">{{ i.0 }}</th>
      <td>{{ i.1 }}</td>
      <td>{{ i.2 }}</td>
      <td>{{ i.3 }}</td>
      <td>{{ i.4 }}</td>
      <td>{{ i.5 }}</td>
      {% if request.session.peran == "ADMIN_SISTEM" %}
      <td>
        <a class="btn btn-primary" href="{% url 'update_ruangan_hotel' kode_hotel=i.1 kode_ruangan=i.2 %}" role="button">UPDATE</a>
        <a class="btn btn-primary" href="{% url 'delete_ruangan_hotel' kode_hotel=i.1 kode_ruangan=i.2 %}" role="button">DELETE</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
{% endblock  %}