{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> register </title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content  %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method = "POST">
        {% csrf_token %}
        {{ form|crispy }}
    <input class="btn btn-light" type="submit" value="Submit">
    </form>
{% endblock  %}