{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> Buat Appointment </title>
{% endblock title %}
{% block style %}
{% endblock style %}
{% block content %}

<div style="padding-top:50px; padding-left:100px; padding-right:100px;">

<div style="padding-bottom:20px">
<center>
    <h1>Buat Appointment</h1>
</center>
</div>

<form id="formCreate" action="{% url 'memeriksa:form_appointment' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div>
            <h3>{{ form.nik_pasien.label }}</h3>
            <div class="input-group mb-3 ">{{ form.nik_pasien }}</div>
            <h3>{{ form.email_dokter.label }}</h3>
            <div class="input-group mb-3">{{ form.email_dokter }}</div>
            <h3>{{ form.kode_faskes.label }}</h3>
            <div class="input-group mb-3">{{ form.kode_faskes }}</div>
            <h3>{{ form.tanggal.label }}</h3>
            <div class="input-group mb-3">{{ form.tanggal }}</div>
            <h3>{{ form.shift.label }}</h3>
            <div class="input-group mb-3">{{ form.shift }}</div>
        </div>
        <input class="btn btn-success" type="submit" value="Simpan">

</form>
</div>

{% endblock %}