{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title> Update Pasien </title>
{% endblock title %}

{% load crispy_forms_tags %}
{% block content  %}
    <h1 class="display-4">Update Data Pasien</h1>
    <hr class="my-4">

    <form method = "POST">
        {% csrf_token %}
        {{ form_umum|crispy }}
        <p>Alamat (Sesuai KTP):</p>
        {{ form_KTP|crispy }}
        <p>Alamat (Domisili):</p>
        {{ form_domisili|crispy }}
    <input class="btn btn-light" name="num" type="submit" value="Submit">
    </form>
{% endblock  %}